@model HosteliteData;
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Digitalizing PAF-IAST</h1>
          <h2>Register down below to experience this awesome venture.</h2>
          <div class="d-flex">
              <a class="btn-get-started scrollto" href="/Identity/Account/Register">Register</a>
            <a href="https://www.youtube.com/watch?v=fHLP9F7fuKQ" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>
    
  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-laptop"></i></div>
              <h4 class="title"><a href="">Room Information</a></h4>
              <p class="description">Hostel room information, now at the tip of your fingers</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-card-checklist"></i></div>
              <h4 class="title"><a asp-controller="messMenu" asp-action="Details">Hostel mess menu</a></h4>
              <p class="description">Hostel menu available at all places, at all times.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-clipboard-data"></i></div>
              <h4 class="title"><a asp-controller="Attendance" asp-action="Details">Daily Attendance</a></h4>
              <p class="description">Information on the hostel charges including living and mess</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="assets/img/about.svg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">
            <h3>PAF-IAST Hostel now digitalized</h3>
            <p class="fst-italic">
              Our objective was to create a portal of convenience for all the student residing inside the hostel.
              We hope that you will use this for your convenience.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Digitalizing hostel mess menu</li>
              <li><i class="bi bi-check-circle"></i> Providing information on hostel rooms</li>
              <li><i class="bi bi-check-circle"></i> Showcasing the hostel life inside PAF-IAST</li>
            </ul>
            <p>
              We hope to digitalize campus life to ensure convenience of students as well as staff.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

   

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title">
          <span>Hostel Services</span>
          <h2>Hostel Services</h2>
          <p>All services are listed below</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a asp-controller="HostelMessRule" asp-action="Details">Hostel & Mess Rules</a></h4>
              <p>Checkout the hostel and mess rules at your single click.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a asp-controller="messMenu" asp-action="Details"> Mess Menu</a></h4>
              <p>Access to mess menu anywhere at any time</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a asp-controller="HosteliteData" asp-action="Details">Hostelite Information</a></h4>
              <p>Information on hostel fees at your fingertips.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4><a asp-controller="NamazTiming" asp-action="Details">Namaz Timing</a></h4>
              <p>Namaz timing for hostel students at PAF-IAST</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-slideshow"></i></div>
              <h4><a href="">Hostel complaint</a></h4>
              <p>Complaint system incase of any issues</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a href="">Feedback</a></h4>
              <p>Help us improve hostel life by providing your feedback</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <span>Gallery</span>
          <h2>Gallery</h2>
          <p>Enjoy our services simply by registring</p>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Campus</li>
              <li data-filter=".filter-web">Hostel</li>
              <li data-filter=".filter-card">Mess</li>
              
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="assets/img/portfolio/campus-1.jpeg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Campus</h4>
              <p>B2 Block</p>
              <a href="assets/img/portfolio/campus-1.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="assets/img/portfolio/hostel-1.jpeg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Common Room</h4>
              <p>Hostel</p>
              <a href="assets/img/portfolio/hostel-1.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Common Room"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="assets/img/portfolio/campus-2.jpeg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Campus</h4>
              <p>Lake view</p>
              <a href="assets/img/portfolio/campus-2.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Campus 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="assets/img/portfolio/mess-1.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Paratha & omelete</h4>
              <p>Mess</p>
              <a href="~/assets/img/portfolio/mess-1.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Mess 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="assets/img/portfolio/hostel-2.jpeg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Mess Area</h4>
              <p>Hostel</p>
              <a href="assets/img/portfolio/hostel-2.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="assets/img/portfolio/campus-3.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Campus</h4>
              <p>B2 Multipurpose Hall</p>
              <a href="assets/img/portfolio/campus-3.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="B2 Multipurpose Hall"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="assets/img/portfolio/mess-2.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Kari Pakora</h4>
              <p>Mess</p>
              <a href="assets/img/portfolio/mess-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="assets/img/portfolio/mess-3.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Beef Palao</h4>
              <p>Mess</p>
              <a href="assets/img/portfolio/mess-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="assets/img/portfolio/hostel-3.jpeg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Hostel Overview</h4>
              <p>Hostel</p>
              <a href="assets/img/portfolio/hostel-3.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->




    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <span>Contact Us</span>
          <h2>Contact Us</h2>
          <p>Please feel free to contact us in case of any problems, we are here to help</p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>PAF-IAST, Mang, Haripur</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>PAF_HostelMess@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+1 5589 55488 55s</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3311.259739955479!2d72.91588201551757!3d33.908714032727!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38dfb1ec2cec8405%3A0xecea542d8a6b1d0a!2sPak-Austria%20Fachhochschule%20Institute%20of%20Applied%20Sciences%20and%20Technology!5e0!3m2!1sen!2s!4v1640536246001!5m2!1sen!2s" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form asp-action="Index" asp-controller="HosteliteData" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6 mt-3 mt-md-0">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group mt-3">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">

      <div class="container">

        <div class="row  justify-content-center">
          <div class="col-lg-6">
            <h3>PAF-IAST Hostel</h3>
            <p></p>
          </div>
        </div>



        <div class="social-links">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>

      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Pak Austria Fachhochschule Hostel & Mess</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">Digi Campus</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="setModel">

 </div>

  
@section scripts
{
    <script type="text/javascript" lang="javascript">
    $(document).ready(function()
    {
            //var intervalTime=1 * 60 * 60 * 1000;
        start();
        var timerID;
        var Hours=new Date("Apr 21,2022 00:00:00").getHours();
        var Minutes=new Date("Apr 21,2022 00:00:00").getMinutes();
        var Seconds=new Date("Apr 21,2022 00:00:00").getSeconds();
        function ChangeDayOfWeekAndId()
        {  
            var CurrentHours=new Date().getHours();
            var CurrentMinutes=new Date().getMinutes();
            var CurrentSeconds=new Date().getSeconds();
            if(CurrentHours==Hours&&CurrentMinutes==Minutes&&CurrentSeconds==Seconds)
            {
             
                $.ajax({method:"get",url:"Configuration/ChangeDayOfWeek",contentType:"application/json;charset=utf-8",datatype:"json",success:function(result)
                { 
                var MessMenuConfiguration=result;
                $.ajax({method:"post",url:"messMenu/UpdateMessMenuConfigurationId",data:{messMenuConfigurations:MessMenuConfiguration }}); 
                }});
                
            }
          
        }
        function start() 
        {
       
         timerID = setInterval(ChangeDayOfWeekAndId,1000);
        }
     });
   </script>
     

    @*<script type="text/javascript" lang="javascript">
        $(document).ready(function(){
        
        });
    </script>*@

    
   }