@model NamazTiming

<form method="post" asp-action="Edit">
    <br /><br /><br /><br />
            <section class="section center-section">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-5"><img src="/assets/img/mosque.svg" width="750" height="600"></div>
            <div class="col-lg-5">
                <br /><br /><br /><br /><br />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Category</h2>
            <hr />
        </div>
        @*<div asp-validation-summary="All"></div>*@
        <div class="mb-3">
            <label asp-for="Namaz"></label>
            <input asp-for="Namaz" class="form-control"/>
            <span asp-validation-for="Namaz" class="text-danger"></span>
        </div>
        
        <div class="mb-3">
            <label asp-for="Namaztiming"></label>
            <input asp-for="Namaztiming" class="form-control"/>
            <span asp-validation-for="Namaztiming" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
        <a asp-controller="NamazTiming" asp-action="Edit" class="btn btn-secondary" style="width:150px">
            Back to namaz timing
        </a>
    </div></div></div>
    </section>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
