@model IEnumerable<NamazTiming>
@{
    
}

<br /><br /><br /><br />
<section class="section center-section">
      <div class="row">
          <div class="col-lg-1"></div>
    <div class="col-lg-5"><img src="/assets/img/mosque.svg" width="750" height="600"></div>
    
    <div class="col-lg-5">
        <br /><br />
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Namaz Timing</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="NamazTiming" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>&nbsp; Create New Data
            </a>
        </div>
    </div>
    <br /><br />

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Namaz
            </th>
            <th>
                Namaz Timing
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
       {
<tr>
            <th>
                @obj.Namaz
            </th>
            <th>
                @obj.Namaztiming
            </th>
               <td>
                   <div class="w-75 btn-group" role="group">
                       <a asp-controller="NamazTiming" asp-action="Edit" asp-route-id="@obj.Id"
                       class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i></a>
                       <a asp-controller="NamazTiming" asp-action="Delete" asp-route-id="@obj.Id"
                       class="btn btn-danger mx-2"><i class="bi bi-trash-fill"></i></a>
                   </div>
               </td>
           </tr>
       }
    </tbody>
</table>
</div></div></div>
</section>