@model Attendance

<form method="post" asp-action="DeletePOST">
    <br /><br /><br />
        <section class="section center-section">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-5"><img src="/assets/img/Attendance.png" width="750" height="750"></div>
            <div class="col-lg-6">
                <br /><br /><br />
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4 w-75">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Attendance</h2>
            <hr />
        </div>
        @*<div asp-validation-summary="All"></div>*@
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        
                <div class="mb-3">
            <label asp-for="BreakFast"></label>
            <input asp-for="BreakFast" class="form-control"/>
            <span asp-validation-for="BreakFast" class="text-danger"></span>
        </div>
        
        <div class="mb-3">
            <label asp-for="Lunch"></label>
            <input asp-for="Lunch" class="form-control"/>
            <span asp-validation-for="Lunch" class="text-danger"></span>
        </div>
        
        <div class="mb-3">
            <label asp-for="Dinner"></label>
            <input asp-for="Dinner" class="form-control"/>
            <span asp-validation-for="Dinner" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
        <a asp-controller="Attendance" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to list
        </a>
    </div></div></div></section>
</form>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
