@model IEnumerable<Attendance>
@{
    ViewData["Title"] = "Details";
}
<br /><br /><br /><br /><br />
            <section class="section center-section">
      <div class="row">
          <div class="col-lg-1"></div>
    <div class="col-lg-4"><img src="/assets/img/Attendance.png" width="750" height="600"></div>
    <div class="col-lg-6">
        <br />
<div class="container p-3 w-75">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Attendance List</h2>
        </div>
    </div>
    <br /><br />

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Breakfast
            </th>
            <th>
                Lunch
            </th>
            <th>
                Dinner
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
       {
           <tr>
               <td>
                   @obj.Name
               </td>
               <td>
                   @obj.BreakFast
               </td>
               <td>
                   @obj.Lunch
               </td>
               <td>
                   @obj.Dinner
               </td>
           </tr>
       }
    </tbody>
</table>
</div></div></div></section>
@section scripts
{

}