@using BulkyBookWeb.Models
@model messMenu
@{
    List<SelectListItem> selectListItems = new List<SelectListItem>() { new SelectListItem() { Value = "Monday", Text = "Monday" },
    new SelectListItem() { Value = "Tuesday", Text = "Tuesday" },
    new SelectListItem() { Value = "Wednesday", Text = "Wednesday" },
    new SelectListItem() { Value = "Thrusday", Text = "Thrusday" },
    new SelectListItem() { Value = "Friday", Text = "Friday" },
    new SelectListItem() { Value = "Saturday", Text = "Saturday" },
    new SelectListItem() { Value = "Sunday", Text = "Sunday" }   
    };
}

<form method="post" asp-for="Create" asp-controller="messMenu">
    <br /><br /><br /><br />
    <section class="section center-section">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-5"><img src="/assets/img/messMenu.png" width="750" height="750"></div>
            <div class="col-lg-6">
                <br /><br /><br />
                <div class="border p-3 mt-4 w-75">
        <div class="row pb-2">
            <h2 class="text-primary">Create Menu</h2>
            <hr />
        </div>
        @*<div asp-validation-summary="All"></div>*@
        <div class="mb-3">
         <label asp-for="Day">Days</label>
         <select asp-for="Day" class="form-control" asp-items="Html.GetEnumSelectList<DayOfWeek>()">
           
         </select>
            <span asp-validation-for="Day" class="text-danger"></span>
        </div>
        
        <div class="mb-3">
            <label asp-for="Breakfast"></label>
            <input asp-for="Breakfast" class="form-control"/>
            <span asp-validation-for="Breakfast" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="BreakFastPrice"></label>
            <input asp-for="BreakFastPrice" class="form-control" />
            <span asp-validation-for="BreakFastPrice" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Lunch"></label>
            <input asp-for="Lunch" class="form-control"/>
            <span asp-validation-for="Lunch" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="LunchPrice"></label>
            <input asp-for="LunchPrice" class="form-control" />
            <span asp-validation-for="LunchPrice" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Dinner"></label>
            <input asp-for="Dinner" class="form-control"/>
            <span asp-validation-for="Dinner" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="DinnerPrice"></label>
            <input asp-for="DinnerPrice" class="form-control" />
            <span asp-validation-for="DinnerPrice" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-controller="messMenu" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to list
        </a>
    </div></div></div></section>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
